*.user
build-libwebsocket-test-Desktop-Release/**
build-libwebsocket-test-Desktop-Debug/*
*.o
libwebsocket/release
libwebsocket-test/release
Makefile
libwebsocket/Makefile
libwebsocket-test/Makefile
libwebsocket/moc_*.cpp
